<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hw.payAPI.mapper.PayMapper">
    <insert id="savePayStr">
        INSERT INTO payments(unique_id, payStr) VALUES (#{unique_id}, #{payStr})
    </insert>

    <select id="getPayInfo" resultType="com.hw.payAPI.model.Payments">
        SELECT unique_id, paystr
        FROM payments
        WHERE unique_id = #{unique_id}
        UNION
        SELECT unique_id, cancelstr
        FROM cancels
        WHERE unique_id = #{unique_id}
        LIMIT 1
    </select>

    <select id="getPayments" resultType="com.hw.payAPI.model.Payments">
        SELECT * FROM payments
        WHERE unique_id = #{unique_id}
    </select>

    <select id="getCostSum" resultType="java.lang.Integer">
        SELECT COALESCE(sum(cost), 0) FROM cancels
        WHERE origin_id = #{originid}
    </select>

    <select id="getTaxSum" resultType="java.lang.Integer">
        SELECT COALESCE(sum(tax), 0) FROM cancels
        WHERE origin_id = #{originid}
    </select>

    <insert id="saveCancel" parameterType="com.hw.payAPI.model.Cancels">
        INSERT INTO cancels
        VALUES (#{canceldata.unique_id}, #{canceldata.cancelstr}, #{canceldata.origin_id}, #{canceldata.cost}, #{canceldata.tax})
    </insert>
</mapper>